@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-y: hidden;
}

body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background: green;
}

body:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.intro {
  touch-action: none;
  -ms-touch-action: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  left: 0%;
  top: 38%;
  position: absolute;
  z-index: 2;
  color: white;
}

.intro-h1-wrapper,
.intro-h2-wrapper,
.intro-h3-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  overflow: hidden;
  -webkit-overflow: hidden;
  width: 0px;
  height: 50px;
}

.intro-h2-wrapper {
  height: 30px;
}

.intro-h3-wrapper {
  height: 40px;
}

.intro h1,
.intro h2,
.intro h3 {
  top: -30px;
  overflow: hidden;
  -webkit-overflow: hidden;
  top: 0;
  min-width: fit-content;
  white-space: nowrap;
  border-radius: 10px;
  -webkit-text-stroke: 2px rgba(206, 202, 202, 0.2);
  padding: 0 5px;
}

.intro h1 {
  width: 500px;
  font-size: 30px;
}

.intro h2 {
  width: fit-content;
  font-size: 22px;
}

.intro h3 {
  width: fit-content;
  font-size: 27px;
}

.hideIntro {
  animation: hideIntro 1.5s forwards;
}

@keyframes hideIntro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menu {
  position: absolute;
  top: 4%;
  left: 55%;
  padding: 10px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-lists {
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: blueviolet;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 1px;
}

.menu ul li:hover {
  cursor: pointer;
  background-color: rgb(167, 91, 238);
  z-index: 4;
}

.covered-background {
  display: none;
}

.covered-background h3 {
  letter-spacing: 2px;
}

.menu-covered-background {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 98%;
  right: 200px;
  bottom: 10%;
  left: -192px;
  width: 235%;
  height: 50vh;
  padding: 20px;
  background: rgb(90, 113, 177);
  border-radius: 11px;
  z-index: 3;
}

.instruction-text-wrapper {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.close-btn {
  position: absolute;
  top: 1%;
  right: 1%;
  margin: 10px;
  min-width: fit-content;
  width: 50px;
  height: 50px;
  background: rgb(165, 170, 179);
  color: white;
  font-size: 15px;
  border-radius: 50%;
  border: none;
  z-index: 2;
}

.close-btn:hover {
  cursor: pointer;
  background: rgb(190, 194, 202);
}

.close-sign {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.close-sign::before,
.close-sign::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 5px;
  background: white;
}

.close-sign::before {
  transform: rotateZ(45deg);
}

.close-sign::after {
  transform: rotateZ(-45deg);
}

#what-is-next-text h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

#what-is-next-text h3 {
  margin-bottom: 10px;
}

#author-text {
  justify-content: center;
}

#author-text h2 {
  margin-top: 10px;
}

#author-text p {
  align-self: center;
}

#author-text :nth-child(2) {
  margin-top: 20px;
}

#author-text img {
  width: 70px;
  margin-top: 5px;
}

#author-text h5 {
  margin-top: 7px;
}

#author-text :nth-child(6) {
  margin-top: 10px;
}

.gameplay {
  font-size: 27px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.menu-covered-background h3 {
  margin-bottom: 4px;
}

.menu-covered-background p {
  align-self: flex-start;
}

.grid {
  width: 100%;
  max-width: 100%;
  height: inherit;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  -webkit-overflow: hidden;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  body:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }

  .grid {
    height: 100%;
    width: 100%;
  }
}

@media (orientation: portrait) and (hover: none) and (pointer: coarse) {
  body {
    height: 100vh;
    width: 100vw;
  }

  .grid {
    height: 100%;
    width: 100%;
  }
}

.fullscreen-container {
  display: none;
  opacity: 0.5;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 2;
}

.fullscreen-container:hover {
  cursor: pointer;
}

.fullscreen-container:hover .fullscreen-btn {
  background: rgb(196, 200, 207);
}

.fullscreen-btn {
  top: 1%;
  right: 1%;
  margin: 10px;
  padding: 10px;
  min-width: fit-content;
  width: 100px;
  height: 45px;
  background: rgb(165, 170, 179);
  color: white;
  font-size: 15px;
  border-radius: 7px;
  border: none;
  z-index: 2;
}

.fullscreen-icon {
  opacity: 0.5;
  position: absolute;
  top: 12%;
  right: 30%;
  z-index: 2;
  width: 50px;
}

.data-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  margin-left: 0;
  padding: 5px 10px;
  z-index: 2;
}

.points-wrapper {
  touch-action: none;
  -ms-touch-action: none;
  position: relative;
  justify-content: center;
  display: flex;
  margin: 10px;
  margin-bottom: 5px;
  padding: 0px 10px;
  z-index: 2;
}

.points-title {
  margin: 5px;
  padding: 0 7px;
  color: rgb(185, 245, 66);
  left: 150px;
}

.points {
  margin: 5px;
  margin-left: 0;
  z-index: 2;
  color: rgb(230, 238, 243);
  font-size: 27px;
  left: 150px;
}

.acorn-wrapper {
  touch-action: none;
  -ms-touch-action: none;
  align-items: center;
  display: flex;
  margin: 10px;
  margin-top: 5px;
  padding: 0px 10px;
  z-index: 2;
}

.acorn-img {
  width: 50px;
  min-height: 50px;
  height: auto;
  background: url("./images/kisspng-dear-evan-hansen-acorn-jared-kleinman-nut-broadway-acorn-png-icon-5ab19ef7dfd1d5.0175363915215900079168-removebg-preview_-_Copy-removebg-preview2-removebg-preview.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.acorn-amount {
  width: 60px;
  min-width: fit-content;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(87, 35, 4);
  background: rgb(255, 255, 0, 0.7);
  border-radius: 50%;
  padding: 5px;
}

.moving-bgs-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  min-width: fit-content;
  height: 100vh;
}

.moving-bg-1 {
  vertical-align: top;
  width: fit-content;
  height: inherit;
  z-index: 1;
  margin: 0;
}

.moving-bg-2 {
  width: fit-content;
  height: inherit;
  z-index: 1;
  margin: 0;
}

.moving-bg-3 {
  width: fit-content;
  height: inherit;
  z-index: 1;
  margin: 0;
}

.moving-bg-4 {
  height: inherit;
  z-index: 1;
  margin: 0;
}

.moving-bg-1 img,
.moving-bg-2 img,
.moving-bg-3 img,
.moving-bg-4 img {
  height: 100%;
  background-size: contain;
}

.game-over-wrapper {
  display: flex;
  position: absolute;
  width: fit-content;
  align-self: center;
  min-width: 200px;
  width: 98%;
  height: 35%;
  min-height: fit-content;
  top: 30%;
  margin: 1%;
  color: white;
  z-index: 2;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-over-text {
  display: none;
}

.start {
  position: absolute;
  margin: 10px;
  padding: 10px;
  min-width: fit-content;
  width: 130px;
  height: 65px;
  background: rgb(52, 128, 235);
  color: white;
  font-size: 27px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.restart {
  visibility: hidden;
  margin: 10px;
  padding: 10px;
  min-width: fit-content;
  width: 110px;
  height: 45px;
  left: 20%;
  font-size: 17px;
  background: rgb(52, 128, 235);
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.restart-visible {
  visibility: visible;
}

.start:hover,
.restart:hover {
  background: rgb(252, 136, 3);
}

.squirrel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5%;
  min-width: 70px;
  height: 80px;
  min-height: 80px;
  background: url("./images/png-transparent-squirrel-squirrel-animal-cartoon-removebg-preview-removebg-preview_-_Copy-removebg-preview-min.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 2;
}

.block {
  position: absolute;
  left: auto;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  min-width: 70px;
  background: url("./images/shrub-tree-drawing-clip-art-png-favpng-jVrSKG4AW4CgJBJbjY4QY45X6-removebg-preview-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  z-index: 2;
}

.acorn {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-image: url("./images/acorn-png-image-free-acorns-5a39b95e6ce546.8666179015137324464467168-removebg-preview2-removebg-preview.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: acornTurnOver 1000ms linear infinite;
}

.shoot-acorn-static {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  background-image: url("./images/acorn-png-image-free-acorns-5a39b95e6ce546.8666179015137324464467168-removebg-preview2-removebg-preview.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.shoot-acorn {
  position: absolute;
  z-index: 1;
  right: 730px;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-image: url("./images/acorn-png-image-free-acorns-5a39b95e6ce546.8666179015137324464467168-removebg-preview2-removebg-preview.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: shootingAcorn 1000ms linear infinite;
}

.displayed {
  display: flex;
}

.unvisible {
  display: none;
}

.pinecone {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  z-index: 2;
  background-image: url("https://www.pinpng.com/pngs/m/234-2341763_clipart-pine-cone-pinecone-clip-art-hd-png.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.jump {
  animation: jumping 500ms forwards;
}

.jumpAndSomersault {
  animation: jumpAndSomersault 1000ms forwards;
}

@keyframes jumping {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-120px);
  }

  80% {
    transform: translateY(-130px);
  }

  90% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes jumpAndSomersault {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(1080deg);
  }
}

@keyframes acornTurnOver {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(-720deg);
  }
}

@keyframes shootingAcorn {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(720deg);
  }
}

@keyframes hittedBlock {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}

.hittedBlock {
  animation: hittedBlock 100ms forwards;
}

@media screen and (min-width: 300px) and (max-width: 330px) and (min-height: 568px) and (max-height: 568px) {
  .menu {
    left: 53%;
  }
  .menu-covered-background {
    left: -108%;
    width: 204%;
    min-height: 300px;
    padding: 20px;
  }
  .menu-covered-background p {
    font-size: 17px;
  }
  #author-text :nth-child(2) {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) and (max-height: 350px) {
  .menu {
    left: 73%;
  }
  .menu-covered-background {
    top: 10%;
    left: -190%;
    width: 200%;
    min-height: 270px;
    padding: 20px;
    padding-top: 15px;
    padding-right: 0px;
  }

  .menu-covered-background p {
    font-size: 16px;
  }
  .close-btn {
    right: -1.5%;
  }
  #author-text :nth-child(2) {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 601px) and (max-width: 915px) {
  .menu {
    left: 70%;
  }
  .menu-background {
    /* position: fixed; */
    justify-content: flex-start;
    align-items: flex-end;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: green;
  }

  .menu-covered-background {
    text-align: center;
    top: 25%;
    right: 200px;
    bottom: 10%;
    left: -245%;
    width: 248%;
    min-width: fit-content;
    height: 75vh;
    min-height: 280px;
    max-height: 300px;
    padding: 10px 30px;
    padding-top: 5px;
    padding-bottom: 0px;
    background: rgb(90, 113, 177);
    border-radius: 11px;
    z-index: 3;
  }
  .menu-covered-background::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotateZ(45deg);
    right: -11px;
    bottom: 15%;
    background: rgb(0, 34, 128);
    background: rgb(90, 113, 177);
    z-index: -1;
  }
  #author-text :nth-child(2) {
    margin: 20px;
    margin-top: 0;
  }
  #what-is-next-text h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .gameplay {
    margin: 7px;
  }
  .instruction-text-wrapper {
    width: 100%;
    margin-bottom: 15px;
  }
  .points-wrapper {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 130px;
    margin-top: -5px;
    margin-bottom: 5px;
    padding: 0px 10px;
    z-index: 2;
  }
}

@media screen and (min-width: 916px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    left: 0%;
    top: 10%;
  }
  .menu {
    left: 70%;
  }
  menu-background {
    justify-content: flex-start;
    align-items: flex-end;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: green;
  }
  .menu-covered-background {
    top: 78%;
    left: -350%;
    width: 335%;
    min-width: fit-content;
    min-height: 350px;
    max-height: 300px;
    padding: 30px 50px;
  }
  .menu-covered-background::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotateZ(45deg);
    right: -15px;
    top: 14%;
    background: rgb(0, 34, 128);
    background: rgb(90, 113, 177);
    z-index: -1;
  }

  .close-btn {
    right: 3%;
    width: 65px;
    height: 65px;
  }

  .gameplay {
    font-size: 37px;
  }

  #what-is-next-text h2 {
    font-size: 37px;
  }

  #author-text h2 {
    font-size: 37px;
    margin: 10px;
    margin-top: 0;
  }

  #author-text img {
    width: 110px;
    margin-top: 10px;
  }

  #author-text h5 {
    margin-top: 30px;
  }
  #author-text :nth-child(6) {
    margin-top: 20px;
  }
  .fullscreen-container {
    display: flex;
  }

  .fullscreen-container:hover {
    opacity: 1;
  }

  .points-wrapper {
    position: relative;
  }
}

/* Owl */

/* https://png.pngtree.com/png-vector/20201013/ourmid/pngtree-owl-clipart-with-tilted-head-side-standing-owl-cartoon-illustration-clipart-png-image_2363424.jpg */

/* https://thumbs.dreamstime.com/b/cartoon-illustration-side-view-owl-perched-large-rock-under-thick-forest-tree-noon-cartoon-illustration-side-view-251427429.jpg */

/* https://thumbs.dreamstime.com/b/flat-vector-icon-northern-saw-whet-owl-small-wild-bird-orange-eyes-brown-plumage-wildlife-theme-icon-northern-saw-131474350.jpg */

/* https://freepngimg.com/thumb/owl/13-2-owl-high-quality-png.png */

/* https://www.clipartkey.com/mpngs/m/31-316087_clip-art-barn-owl-clipart-owl-transparent-background.png */

/* https://img.freepik.com/free-vector/animal-cartoon-character-owl-white-background_1308-69437.jpg */
